@charset "UTF-8";
.sns{
    display: block;
    width: 500px;
    height: 300px;
    margin: 0 auto;
}
.twitter-timeline{
    display: block;
    width: 500px;
    height: 300px;
    margin: 0 auto;
}
.mainText{
    display: inline;
    text-align: center;
}